mixin blogpost(post)
    .postHolder
        .headerArea
            if post
                h1 #{post.title}
                h3 #{post.date}
            else
                input(id="newTitle")
                input(id="newDate")
        .contentArea
            if post
                p #{post.content}
            else
                textarea(id="newContent")
                button(type=submit, id="newSubmit")


mixin monthlist(month)
    h2 #{(month[0] && month[0].date)}
    ul
        for post in month
            li #{(post && post.title)}
