mixin blogpost(post)
    .postHolder
        .headerArea
            if post
                h1 #{post.title}
                h3 #{post.date}
            else
                input(id="newTitle" placeholder="Title")
                input(id="newDate" placeholder="Date")
        .contentArea
            if post
                p #{post.content}
            else
                textarea(id="newContent" placeholder="Share your thoughts...")
                button(type="submit", id="newSubmit")


mixin monthlist(month)
    h2 #{(month[0] && month[0].tags[0])}
    ul
        for post in month
            li #{(post && post.title)}

mixin loginbar(loggedin)
    a(href="/loginpage", class="loginlink")
        div(role="toolbar", class="loginbar")
            div(class="glyphicon glyphicon-user")
